body{
    margin: 0;
    font-family: "Jockey One", sans-serif;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.ref_mainpage{
    text-decoration: 0;
    color: black;
    display: flex;
}

#kolosook{
    font-size: 32px;
    font-family: "Kranky", serif;
    align-self: center;
}
#header_div_for_search{
    display: flex;
    align-items: center;
}
#header_input{
    height: 60px;
    border-radius: 40px;
    border: none;
    background-color: #F4F4F4;
    width: 1150px;
    margin-left: 10%;
    font-family: "Jockey One", sans-serif;
    padding-left: 65px;
    font-size: 32px;
}
#header_input::placeholder{
    margin-top: 20px;
    color: #DCDCDC;
    font-size: 32px;

}
#header_input_img{
    position: absolute;
    margin-left: 140px;
}
#button_img{
    display: flex;
    position: absolute;
    right: 20px;
}

#header_img{
    width: 75px; height: 75px;
    border-radius: 500px;
    margin-left: 52px;
}

#div_file_information{
    margin-left: 130px; margin-top: 30px;

}

#main_input{
    display: flex;
    flex-direction: column;
    width: 581px; height: 66px;
    border-radius: 50px;
    margin-top: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 20px;
    font-family: "Jockey One", sans-serif;
    padding-left: 30px;
}
#div_file_information_end{
    display: flex;
    margin-top: 20px;
}
#txt_file_information_end{
    opacity: 60%;
    font-size: 30px;
}

#checkbox_file_information_end{
    width: 30px;
    margin-left: 10px;
}

button{
    width: 170px; height: 66px;
    background-color: black;
    color: white;
    font-family: "Jockey One", sans-serif;
    font-size: 32px;
    border-radius: 500px;
    margin-left: 52px;
}

#button_file_information_end{
    margin-top: 20px;
    margin-left: 165px;
}