body{
    margin: 0;
    font-family: "Jockey One", sans-serif;
    overflow-x: hidden;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
#kolosook{
    font-size: 32px;
    font-family: "Kranky", serif;
    align-self: center;
}
#header_div_for_search{
    display: flex;
    align-items: center;
}
#header_input{
    height: 60px;
    border-radius: 40px;
    border: none;
    background-color: #F4F4F4;
    width: 1150px;
    margin-left: 10%;
    font-family: "Jockey One", sans-serif;
    padding-left: 65px;
    font-size: 32px;
}
#header_input::placeholder{

    margin-top: 20px;
    color: #DCDCDC;
    font-size: 32px;
    
}
#header_input_img{
    position: absolute;
    margin-left: 140px;
}
#button_img{
    display: flex;
    position: absolute;
    right: 20px;
}
button{
    width: 170px; height: 66px;
    background-color: black;
    color: white;
    font-family: "Jockey One", sans-serif;
    font-size: 32px;
    border-radius: 500px;
    margin-left: 52px;
}
#header_img{
    width: 75px; height: 75px;
    border-radius: 500px;
    margin-left: 52px;
}
.polz{
    display: flex;
}
.polz-img{
    border-radius: 540px;
    width: 120px;
    height: 120px;
    
    margin-top: 33px;
    margin-left: 100px;

}
.polz-text{
    font-weight: 400;
    font-size: 64px;
    color: #000;
    margin-left: 51px;
}
.polz-text-s{
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 107px;
    margin-left: 31px;
}
.zan{
    display: flex;
    flex-direction: row;
    margin-left: 78px;
    margin-top: 35px;
    gap: 64px;
}
.zan-s{
    border-radius: 25px;
    width: 300px;
    height: 300px;
}
.zan-d{
    display: flex;
    flex-direction: row;
    margin-left: 78px;
    margin-top: 87px;
    gap: 64px;
}
.zan-d-p{
    display: flex;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    background: #d9d9d9;
}
.create-st{
    border-radius: 10px;
    width: 20px;
    height: 100px;
    background: rgba(0, 0, 0, 0.2);
    margin-left: 145px;
    margin-top: 83px;
}
.create-stn{
    border-radius: 10px;
    margin-left: -20px;
    width: 20px;
    height: 100px;
    margin-top: 82px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(90deg);
}
.create-text{
    width: 198px;
    font-weight: 400;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.75);
    margin-left: -81px;
    margin-top: 240px;
}
.hfo{
    font-weight: 400;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.6);
    margin-top:101px;
    margin-left: 950px;
}





